<section class="category-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            <div class="single-deal">
              <div class="overlay"></div>
              <img class="img-fluid w-100" src="/assets/img/category/c1.jpg" alt="">
              <%= link_to shop_path(shop: "hot-trend") do %>
                <div class="deal-details">
                  <h6 class="deal-title"><%= t ".hot-trend" %></h6>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="single-deal">
              <div class="overlay"></div>
              <img class="img-fluid w-100" src="/assets/img/category/c2.jpg" alt="">
              <%= link_to shop_path(shop: "new-products") do %>
                <div class="deal-details">
                  <h6 class="deal-title"><%= t ".new-products" %></h6>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="single-deal">
              <div class="overlay"></div>
              <img class="img-fluid w-100" src="/assets/img/category/c3.jpg" alt="">
              <%= link_to shop_path(shop: "sale-off") do %>
                <div class="deal-details">
                  <h6 class="deal-title"><%= t ".sale-off" %></h6>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-lg-8 col-md-8">
            <div class="single-deal">
              <div class="overlay"></div>
              <img class="img-fluid w-100" src="/assets/img/category/c4.jpg" alt="">
              <%= link_to shop_path(shop: "high-rating") do %>
                <div class="deal-details">
                  <h6 class="deal-title"><%= t ".high-rating" %></h6>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-deal">
          <div class="overlay"></div>
          <img class="img-fluid w-100" src="/assets/img/category/c5.jpg" alt="">
          <%= link_to shop_path do %>
            <div class="deal-details">
              <h6 class="deal-title"><%= t ".shop" %></h6>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
