<% provide :title, t(".title") %>
<section class="section_gap_bottom">
  <h1><%= t ".title" %></h1>
  <div class="list-menu">
    <ul>
      <li><%= link_to t(".users"), users_path %></li>
      <li><%= link_to t(".categories"), admin_categories_path %></li>
      <li><%= link_to t(".products"), admin_products_path %></li>
      <li><%= link_to t(".orders"), admin_orders_path %></li>
      <li><%= link_to t(".requested_products"), "#" %></li>
    </ul>
  </div>
</section>
