<% provide :title, t(".title") %>
<section class="section_gap_bottom container">
  <div class="list-menu">
    <ul class="list-group">
      <%= link_to admin_charts_path do %>
        <li class="list-group-item list-group-item-info list-group-item-action"><%= t ".charts" %></li>
      <% end %>
      <%= link_to users_path do %>
        <li class="list-group-item list-group-item-info list-group-item-action"><%= t ".users" %></li>
      <% end %>
      <%= link_to admin_categories_path do %>
        <li class="list-group-item list-group-item-info list-group-item-action"><%= t ".categories" %></li>
      <% end %>
      <%= link_to admin_products_path do %>
        <li class="list-group-item list-group-item-info list-group-item-action"><%= t ".products" %></li>
      <% end %>
      <%= link_to admin_orders_path do %>
        <li class="list-group-item list-group-item-info list-group-item-action">
          <%= t ".orders" %><span class="text-danger"> (<%= @number_orders %>)</span>
        </li>
      <% end %>
      <%= link_to admin_requests_path do %>
        <li class="list-group-item list-group-item-info list-group-item-action">
          <%= t ".requested_products" %><span class="text-danger"> (<%= @number_requests %>)</span>
        </li>
      <% end %>
    </ul>
  </div>
</section>
