<% provide :title, t(".title") %>
<!--================Cart Area =================-->
<section class="cart_area">
  <div class="container">
    <div class="cart_inner">
      <% if @products.any? %>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Picture</th>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "product", collection: @products %>
            <tr>
              <td colspan="3"></td>
              <td>
                <h5>Subtotal</h5>
              </td>
              <td>
                <h5 id="subtotal"><%= number_to_currency get_subtotal_price(@products) %></h5>
              </td>
              <td></td>
            </tr>
            <tr class="out_button_area">
              <td colspan="3"></td>
              <td>
                <div class="checkout_btn_inner d-flex align-items-center">
                  <%= link_to t(".continue"), shop_path, class: "gray_btn" %>
                  <%= link_to t(".checkout"), new_order_path, class: "primary-btn" %>
                </div>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>
  </div>
</section>
<!--================End Cart Area =================-->
<%= javascript_include_tag "ajax_cart" %>
