<tr>
  <td><%= order_counter + 1 %></td>
  <td><%= order.user.name %></td>
  <td><%= order.receiver_name %></td>
  <td><%= order.receiver_phone %></td>
  <td><%= order.receiver_address %></td>
  <td><%= l order.created_at, format: :short %></td>
  <td><%= l order.updated_at, format: :short %></td>
  <td><%= number_to_currency order.total_price %></td>
  <td>
    <button type="button" class="genric-btn <%= css_with_status order %>"><%= order.status %></button>
  </td>
  <td>
     <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-<%= order.id %>">
      <%= t ".detail" %>
    </button>
  </td>
</tr>
