<tr>
  <td><%= counter_index order_product_counter %></td>
  <td>
    <%= order_product.product.name %>
  </td>
  <td><%= number_to_currency order_product.actual_price %></td>
  <td><%= order_product.quantity %></td>
  <td><%= number_to_currency total_price(order_product.quantity, order_product.actual_price) %></td>
</tr>
