<tr> 
  <td data-th="Product">
    <div class="row">
      <div class="col-sm-2 hidden-xs">
        <%= image_tag "p6.jpg", alt: "product", class: "img-responsive"%>
      </div>
      <div class="col-sm-10">
      <h4 class="nomargin"><%= product_cart.name %></h4>
      <p><%= product_cart.description %></p> 
      </div>
    </div>
  </td>
  <td data-th="Price"><%= number_to_currency product_cart.price_discounted %></td>
  <td data-th="Quantity"><%= product_cart.total_quantity %></td>
  <td data-th="Subtotal"><%= number_to_currency total_price(product_cart.total_quantity, product_cart.price_discounted) %></td>
</tr>
