<tr>
  <td><%= counter_index product_cart_counter %></td>
  <td>
    <%= product_cart.name %>
  </td>
  <td><%= number_to_currency product_cart.price_discounted %></td>
  <td><%= product_cart.total_quantity %></td>
  <td><%= number_to_currency total_price(product_cart.total_quantity, product_cart.price_discounted) %></td>
</tr>
