<% provide :title, t(".title") %>
<% provide :button_text, t(".order") %>
<div class="container">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th></th>
        <th><%= t ".price" %></th>
        <th><%= t ".quantity" %></th>
        <th><%= t ".total" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "product_cart", collection: @products %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center">
          <strong><%= t ".subtotal"%> <%= number_to_currency get_subtotal_price(@products) %></strong>
        </td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  <%= render "form" %>
</div>
