<section class="order_details section_gap">
  <div class="container">
    <div class="row order_d_inner">
      <div class="col-lg-4">
        <div class="details_item">
          <h4><%= t ".order_infor" %></h4>
          <ul class="list">
            <li><span><%= t ".date" %></span> : <%= l @order.created_at %></li>
            <li><span><%= t ".total" %></span> : <%= number_to_currency @order.total_price %></li>
            <li><span><%= t ".payment_method" %></span> : COD</li>
            <li><span><%= t ".description" %></span> : <%= @order.description %></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="details_item">
          <h4><%= t ".reciever_infromation" %></h4>
          <ul class="list">
            <li><span><%= t ".name" %></span> : <%= @order.receiver_name %></li>
            <li><span><%= t ".address" %></span> : <%= @order.receiver_address %></li>
            <li><span><%= t ".phone" %></span> : <%= @order.receiver_phone %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="order_details_table">
      <h2><%= t ".order_detail" %></h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th><%= t ".name" %></th>
              <th><%= t ".price" %></th>
              <th><%= t ".quantity" %></th>
              <th><%= t ".total" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "product_cart", collection: @order.products_orders %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
