<% provide :title, t(".title") %>
<section class="section_gap_bottom">
  <div class="main-content">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="ace-icon fa fa-home home-icon"></i>
          <%= link_to t(".home"), admin_path %>
        </li>
        <li class="active"><%= t ".title" %></li>
      </ul>
      <!-- /.breadcrumb -->
    </div>
    <div class="main-content-inner container">
      <div class="page-content">
        <div class="page-header">
          <h1><%= t ".title" %></h1>
          <hr>
        </div>
        <!-- /.page-header -->
        <div class="row">
          <div class="col-xs-12">
            <div>
              <% if @schedules.any? %>
                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th><%= t ".name" %></th>
                      <th><%= t ".start_time" %></th>
                      <th><%= t ".end_time" %></th>
                      <th><%= t ".discount" %></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= render @schedules %>
                  </tbody>
                </table>
              <% else %>
                <%= t ".empty" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= will_paginate %>
      <!-- /.page-content -->
    </div>
  </div>
  <%= render partial: "admin/schedules/modal", collection: @schedules %>
  <!-- /.main-content -->
</section>
