<% provide :title, t(".title") %>
<section class="section_gap_bottom">
  <div class="main-content">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="ace-icon fa fa-home home-icon"></i>
          <%= link_to t(".home"), admin_path %>
        </li>
        <li class="active">
          <i class="fas fa-angle-right"></i>
          <%= t ".title" %>
        </li>
      </ul>
      <!-- /.breadcrumb -->
    </div>
    <div class="main-content-inner container">
      <div class="page-content">
        <div class="page-header">
          <hr>
        </div>
        <!-- /.page-header -->
        <div class="row">
          <div class="col-xs-12">
            <!-- div.dataTables_borderWrap -->
            <div>
              <% if @requests.any? %>
                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th><%= t ".name" %></th>
                      <th><%= t ".picture" %></th>
                      <th><%= t ".price" %></th>
                      <th><%= t ".category" %></th>
                      <th><%= t ".created_at" %></th>
                      <th><%= t ".updated_at" %></th>
                      <th><%= t ".user" %></th>
                      <th><%= t ".status" %></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= render partial: "admin/requests/request", collection: @requests %>
                  </tbody>
                </table>
              <% else %>
                <%= t ".not_have_product" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!-- /.page-content -->
      <%= will_paginate %>
    </div>
  </div>
  <!-- /.main-content -->
</section>
