<div class="col-xl-3 col-lg-4 col-md-5">
  <div class="sidebar-categories">
    <div class="head"><%= t ".categories" %></div>
    <ul class="main-categories">
      <% @categories.each do |category| %>
        <% if category.parent_id.nil? %>
          <li class="main-nav-list">
            <div class="row col-lg-12">
              <a class="col-md-10" href="#"><%= category.name %></a>
              <a class="col-md-2" data-toggle="collapse" href="#cat<%= category.id %>"><i class="arrow fas fa-angle-down"></i></a>
            </div>
            <ul class="collapse" id="cat<%= category.id %>">
              <% sub_categories(category.id).each do |sub_cat| %>
                <li class="main-nav-list child"><a href="#"><%= sub_cat.name %></a></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="sidebar-filter mt-50">
    <div class="top-filter-head"><%= t ".filters" %></div>
    <div class="common-filter">
      <div class="head">Brands</div>
      <form action="#">
        <ul>
          <li class="filter-list"><input class="pixel-radio" type="radio" id="apple" name="brand"><label for="apple">Apple<span>(29)</span></label></li>
          <li class="filter-list"><input class="pixel-radio" type="radio" id="asus" name="brand"><label for="asus">Asus<span>(29)</span></label></li>
          <li class="filter-list"><input class="pixel-radio" type="radio" id="gionee" name="brand"><label for="gionee">Gionee<span>(19)</span></label></li>
          <li class="filter-list"><input class="pixel-radio" type="radio" id="micromax" name="brand"><label for="micromax">Micromax<span>(19)</span></label></li>
          <li class="filter-list"><input class="pixel-radio" type="radio" id="samsung" name="brand"><label for="samsung">Samsung<span>(19)</span></label></li>
        </ul>
      </form>
    </div>
    <div class="common-filter">
      <div class="head">Color</div>
      <form action="#">
        <ul>
          <li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label for="black">Black<span>(29)</span></label></li>
          <li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather" name="color"><label for="balckleather">Black
              Leather<span>(29)</span></label></li>
          <li class="filter-list"><input class="pixel-radio" type="radio" id="blackred" name="color"><label for="blackred">Black
              with red<span>(19)</span></label></li>
          <li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label for="gold">Gold<span>(19)</span></label></li>
          <li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey" name="color"><label for="spacegrey">Spacegrey<span>(19)</span></label></li>
        </ul>
      </form>
    </div>
    <div class="common-filter">
      <div class="head">Price</div>
      <div class="price-range-area">
        <div id="price-range"></div>
        <div class="value-wrapper d-flex">
          <div class="price">Price:</div>
          <span>$</span>
          <div id="lower-value"></div>
          <div class="to">to</div>
          <span>$</span>
          <div id="upper-value"></div>
        </div>
      </div>
    </div>
  </div>
</div>
