<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
  <div class="row">
    <div class="col-lg-6">
      <% if comments.any? %>
        <div class="comment_list">
          <% comments.each do |comment| %>
            <% if comment.parent_id.nil? %>
              <div class="comment_item">
                <div class="media">
                  <div class="d-flex">
                    <%= image_tag comment.user.avatar.url%>
                  </div>
                  <div class="media-body">
                    <h4><%= comment.user.name %></h4>
                    <h5><%= l comment.updated_at, format: :short %></h5>
                    <a class="reply_btn" parent_id="<%= comment.id %>"
                      user="<%= comment.user.name %>" href="javascript:void(0)"><%= t ".reply" %></a>
                  </div>
                </div>
                <p><%= comment.content %></p>
              </div>
              <% reply_comments(comment.id).each do |reply_comment| %>
                <div class="reply_comment_item reply" data="<%= comment.id %>">
                  <div class="media">
                    <div class="d-flex">
                      <%= image_tag reply_comment.user.avatar.url, size: "50x50"%>
                    </div>
                    <div class="media-body">
                      <h4><%= reply_comment.user.name %></h4>
                      <h5><%= l reply_comment.updated_at, format: :short %></h5>
                      <a class="reply_btn" parent_id="<%= comment.id %>"
                        user="<%= reply_comment.user.name %>" href="javascript:void(0)"><%= t ".reply" %></a>
                    </div>
                  </div>
                  <p><%= reply_comment.content %></p>
                </div>
              <% end %>
              <% if @reply_comments.any? && @reply_comments.size > 1 %>
                <div class="loadMoreReplyComment" data="<%= comment.id %>">
                  <a href="#"><%= t ".load_reply", count: @reply_comments.size - 1 %></a>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div id="loadMoreComment">
          <a href="#"><%= t ".load_more_comment" %></a>
        </div>
      <% else %>
        <%= t ".not_have_comment"%>
      <% end %>
    </div>
    <div class="col-lg-6">
      <div class="review_box">
        <% if logged_in? %>
          <h4><%= t ".post_a_comment"%></h4>
          <form id="fComment" action="javascript:void(0)" class="row contact_form">
            <div class="col-md-12">
              <div class="form-group">
                <textarea pid="<%= @product.id %>" parent_id="" class="form-control"
                  name="comment" id="comment" rows="1" placeholder="<%= t ".comment" %>"></textarea>
              </div>
            </div>
            <div class="col-md-12 text-right">
              <button id="btn-comment" class="btn primary-btn"><%= t ".submit"%></button>
            </div>
          </form>
        <% else %>
          <%= link_to t(".login"), login_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "ajax_comment" %>
