<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
  <div class="row">
    <div class="col-lg-6">
      <div class="comment_list">
        <% if @comments&.any? %>
          <% @comments.each do |comment| %>
            <div class="comment_item">
              <div class="media">
                <div class="d-flex">
                  <%= image_tag comment.user.avatar.url %>
                </div>
                <div class="media-body">
                  <h4><%= comment.user.name %></h4>
                  <h5><%= l comment.updated_at, format: :short %></h5>
                  <a class="reply_btn" parent_id="<%= comment.id %>" user="<%= comment.user.name %>"
                      href="javascript:void(0)"><%= t ".reply" %></a>
                </div>
              </div>
              <p><%= comment.content %></p>
            </div>
            <% sub_comments(comment.id).each do |sub_comment| %>
              <div class="comment_item reply">
                <div class="media">
                  <div class="d-flex">
                    <%= image_tag sub_comment.user.avatar.url %>
                  </div>
                  <div class="media-body">
                    <h4><%= sub_comment.user.name %></h4>
                    <h5><%= l sub_comment.updated_at, format: :short %></h5>
                    <a class="reply_btn" parent_id="<%= comment.id %>" user="<%= sub_comment.user.name %>"
                        href="javascript:void(0)"><%= t ".reply" %></a>
                  </div>
                </div>
                <p><%= sub_comment.content %></p>
              </div>
            <% end %>
          <% end %>
          <div id="loadMoreComment">
            <a href="#"><%= t ".load_more" %></a>
          </div>
        <% else %>
          <%= t ".not_have_comment"%>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="review_box">
        <% if logged_in? %>
          <h4><%= t ".post_a_comment"%></h4>
          <form id="fComment" action="javascript:void(0)" class="row contact_form">
            <div class="col-md-12">
              <div class="form-group">
                <textarea pid="<%= @product.id %>" parent_id="" class="form-control" name="comment"
                  id="comment" rows="1" placeholder="<%= t ".comment" %>"></textarea>
              </div>
            </div>
            <div class="col-md-12 text-right">
              <button id="btn-comment" class="btn primary-btn"><%= t ".submit" %></button>
            </div>
          </form>
        <% else %>
          <%= link_to t(".login"), login_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "ajax_comment" %>
