<div class="col-xl-3 col-lg-4 col-md-5">
  <div class="sidebar-categories">
    <div class="head"><%= t ".categories" %></div>
    <ul class="main-categories">
      <% @categories.each do |category| %>
        <% if category.parent_id.nil? %>
          <li class="main-nav-list">
            <div class="row col-lg-12">
              <%= link_to(category.name, shop_path(cat: category.id, sort: params[:sort], rating: params[:rating],
                price_min: params[:price_min], price_max: params[:price_max]), class: "col-md-10 filter-category") %>
              <a class="col-md-2" data-toggle="collapse" href="#cat<%= category.id %>"><i class="arrow fas fa-angle-down"></i></a>
            </div>
            <ul class="collapse" id="cat<%= category.id %>">
              <% sub_categories(category.id).each do |sub_cat| %>
                <li class="main-nav-list child">
                  <%= link_to(sub_cat.name, shop_path(cat: sub_cat.id, sort: params[:sort], rating: params[:rating],
                    price_min: params[:price_min], price_max: params[:price_max]), class: "filter-category") %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="sidebar-filter mt-50">
    <%= form_tag(shop_path, method: :get, id: "click-radio-sort") do %>  
    <div class="top-filter-head"><%= t ".product_filters" %></div>
    <div class="common-filter">
      <div class="head"><%= t ".sort" %></div>
        <ul>
          <li class="filter-list"><input class="pixel-radio radio-sort" type="radio" id="sort_a_z" name="sort" value="sort_a_z"><label for="sort_a_z"><%= t ".sort_a_z" %></label></li>
          <li class="filter-list"><input class="pixel-radio radio-sort" type="radio" id="sort_z_a" name="sort" value="sort_z_a"><label for="sort_z_a"><%= t ".sort_z_a" %></label></li>
          <li class="filter-list"><input class="pixel-radio radio-sort" type="radio" id="sort_new" name="sort" value="sort_new"><label for="sort_new"><%= t ".sort_new" %></label></li>
          <li class="filter-list"><input class="pixel-radio radio-sort" type="radio" id="sort_price_a_z" name="sort" value="sort_price_a_z"><label for="sort_price_a_z"><%= t ".sort_price_a_z" %></label></li>
          <li class="filter-list"><input class="pixel-radio radio-sort" type="radio" id="sort_price_z_a" name="sort" value="sort_price_z_a"><label for="sort_price_z_a"><%= t ".sort_price_z_a" %></label></li>
        </ul>
    </div>
    <div class="common-filter">
      <div class="head"><%= t ".rating" %></div>
        <ul>
          <li class="filter-list"><input class="pixel-radio radio-rating" type="radio" id="rating-4" name="rating" value="4">
            <label for="rating-4"><%= t ".bigger" %>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </label>
          </li>
          <li class="filter-list"><input class="pixel-radio radio-rating" type="radio" id="rating-3" name="rating" value="3">
            <label for="rating-3"><%= t ".bigger" %>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </label>
          </li>
          <li class="filter-list"><input class="pixel-radio radio-rating" type="radio" id="rating-2" name="rating" value="2">
            <label for="rating-2"><%= t ".bigger" %>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </label>
          </li>
          <li class="filter-list"><input class="pixel-radio radio-rating" type="radio" id="rating-1" name="rating" value="1">
            <label for="rating-1"><%= t ".bigger" %>
              <i class="fa fa-star"></i>
            </label>
          </li>
        </ul>
    </div>
    <div class="common-filter">
      <div class="head">Price</div>
      <section class="range-slider">
        <span class="rangeValues"></span>
        <input value="<%= params[:price_min] || 0 %>" min="0" max="1000" step="10" type="range" name="price_min" id="price_min">
        <input value="<%= params[:price_max] || 1000 %>" min="0" max="1000" step="100" type="range" name="price_max" id="price_max">
      </section>
    </div>
    <% end %>
  </div>
</div>
<%= javascript_include_tag "filter" %>
