<% if logged_in? %>
  <% if current_user.history_views.any? %>
    <% current_user.history_views.each do |h| %>
    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
      <div class="single-related-product d-flex">
        <a href="#"><%= image_tag h.item_photos.first.photo_url, {class: "img-fluid p_image"}  %></a>
        <div class="desc" id="product-recently">
          <a href="#" class="title"><%= h.name %></a>
          <div class="price">
            <h6><%= number_to_currency price_discounted(h.price, h.discount) %></h6>
            <h6 class="l-through"><%= number_to_currency h.price %></h6>
          </div>
        </div>
      </div>
    </div> 
    <% end %>
  <% else %>
    <%= t (".no_recently_product") %>
  <% end %>
<% else %>
  <%= t (".no_recently_product") %>
<% end %>
