<% provide :title, t(".title") %>
<div class="container">
  <div class="row">
    <%= render "left_bar" %>
    <div class="col-xl-9 col-lg-8 col-md-7">
      <div class="filter-bar d-flex flex-wrap align-items-center">
        <%= paginate @products %>
      </div>
      <!-- Start Best Seller -->
      <section class="lattest-product-area pb-40 category-list">
        <div class="row">
          <%= render @products %>
        </div>
      </section>
      <!-- End Best Seller -->
      <div class="filter-bar d-flex flex-wrap align-items-center">
        <%= paginate @products %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/recently_viewed" %>
<%= javascript_include_tag "ajax_cart" %>
