<% provide :title, t(".title") %>
<div class="container">
  <div class="row">
    <%= render "left_bar" %>
    <div class="col-xl-9 col-lg-8 col-md-7">
      <!-- Start Filter Bar -->
      <div class="filter-bar d-flex flex-wrap align-items-center">
        <div class="sorting">
          <select>
            <option value="1">Default sorting</option>
            <option value="1">Default sorting</option>
            <option value="1">Default sorting</option>
          </select>
        </div>
        <div class="sorting mr-auto">
          <select>
            <option value="1">Show 12</option>
            <option value="1">Show 12</option>
            <option value="1">Show 12</option>
          </select>
        </div>
        <%= will_paginate %>
      </div>
      <!-- End Filter Bar -->
      <!-- Start Best Seller -->
      <section class="lattest-product-area pb-40 category-list">
        <div class="row">
          <%= render @products %>
        </div>
      </section>
      <!-- End Best Seller -->
      <!-- Start Filter Bar -->
      <div class="filter-bar d-flex flex-wrap align-items-center">
        <div class="sorting mr-auto">
          <select>
            <option value="1">Show 12</option>
            <option value="1">Show 12</option>
            <option value="1">Show 12</option>
          </select>
        </div>
        <%= will_paginate @products, inner_window: 2, outer_window: 4, gap: "..." %>
      </div>
      <!-- End Filter Bar -->
    </div>
  </div>
</div>
<%= render "shared/recently_viewed" %>
<%= javascript_include_tag "ajax_cart" %>
