<% provide :title, t(".title") %>
<!--================Single Product Area =================-->
<div class="product_image_area">
  <div class="container">
    <div class="row s_product_inner">
      <div class="col-lg-6">
        <div class="s_Product_carousel">
          <% @product.item_photos.each do |p| %>
            <div class="single-prd-item">
              <%= image_tag p.photo_url, class: "img-fluid" %>
            </div>
          <% end %>
          <div class="single-prd-item">
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="s_product_text">
          <h3><%= @product.name%></h3>
          <div class="price">
            <h3><%= number_to_currency price_discounted(@product.price, @product.discount) %></h3>
            <% if @product.discount > 0 %>
              <h5 class="l-through"><%= number_to_currency @product.price %></h5>
            <% end %>
          </div>
          <ul class="list">
            <li><a href="#"><span><%= t ".category" %>:</span><%= @product.category.name %></a></li>
            <% if @product.quantity > 0 %>
              <li><a href="#"><span><%= t ".availibility" %>:</span><%= t ".in_stock" %></a></li>
            <% else %>
              <li><a href="#"><span><%= t ".availibility" %>:</span><%= t ".out_stock" %></a></li>
            <% end %>
          </ul>
          <p></p>
          <div class="product_count">
            <label for="qty"><%= t ".quantity" %>:</label>
            <input type="number" class="input-text qty" value="1" min="1" max="<%= @product.quantity %>">
          </div>
          <% if @product.quantity > 0 %>
            <div class="card_area d-flex align-items-center">
              <a class="primary-btn" href="#"><%= t ".add" %></a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================End Single Product Area =================-->
<%= render partial: "detail_product", object: @product %>
<%= render "shared/recently_viewed" %>
<%= javascript_include_tag "ajax_cart" %>
