<!-- Start Header Area -->
<header class="header_area sticky-header">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light main_box">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <%= link_to(root_path, class: "navbar-brand logo_h") do %>
          <img src="/assets/img/logo.png" alt="">
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto">
            <li class="nav-item <%= current_class?(home_path) %>"><%= link_to t(".home"), home_path, class: "nav-link" %></li>
            <li class="nav-item <%= current_class?(shop_path) %>"><%= link_to t(".shop"), shop_path, class: "nav-link" %></li>
            <li class="nav-item <%= current_class?(contact_path) %>"><%= link_to t(".contact"), contact_path, class: "nav-link" %></li>
            <% if logged_in? %>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false"><%= @current_user.name %></a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><%= link_to t(".profile"), current_user, class: "nav-link" %></li>
                  <% if @current_user.admin? %>
                    <li class="nav-item"><%= link_to t(".dashboard"), admin_path, class: "nav-link" %></li>
                  <% end %>
                  <li class="nav-item"><%= link_to t(".my_orders"), history_orders_path, class: "nav-link" %></li>
                  <li class="nav-item"><%= link_to t(".logout"), logout_path, method: :delete, class: "nav-link" %></li>
                </ul>
              </li>
            <% else %>
              <li class="nav-item <%= current_class?(signup_path) %>"><%= link_to t(".signup"), signup_path, class: "nav-link" %></li>
              <li class="nav-item <%= current_class?(login_path) %>"><%= link_to t(".login"), login_path, class: "nav-link" %></li>
            <% end %>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false"><%= t ".languages" %></a>
              <ul class="dropdown-menu">
                <li class="nav-item"><%= link_to t(".language_en"), {locale: :en}, {class: "nav-link"} %></li>
                <li class="nav-item"><%= link_to t(".language_vi"), {locale: :vi}, {class: "nav-link"} %></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <%= link_to(cart_index_path, class: "cart") do %>
                <i class="fas fa-shopping-cart"></i> <%=t ".cart" %>
                (<strong id="size-cart"><%=size_cart%></strong>)
              <% end %>
            </li>
            <li class="nav-item">
              <button class="search"><i class="fas fa-search" id="search"></i></button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="search_input" id="search_input_box">
    <div class="container">
      <%= form_tag(search_path, method: :get, class: "d-flex justify-content-between") do %>
        <%= text_field_tag :keyword, "", class: "form-control", id: "search_input", placeholder: "Search here" %>
        <%= submit_tag "Search", id: "submitsearch", class: "btn" %>
        <span class="fas fa-times-circle" id="close_search" title="Close Search"></span>
      <% end %>
    </div>
  </div>
</header>
<!-- End Header Area -->
