<header class="navbar navbar-fixed-top navbar-inverse">
  <%= link_to t(".logo"), root_path, id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to t(".home"), home_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".about"), about_path %></li>
      <li>
        <%= link_to(cart_index_path) do %>
          <span class="glyphicon glyphicon-shopping-cart"></span> <%=t ".cart" %> (<span id="size-cart"><%=size_cart%></span>)
        <% end %>
      </li>
    </ul>
    <ul class="userbar nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li><%= link_to @current_user.name, current_user %></li>
        <% if @current_user.admin? %>
          <li><%= link_to t(".dashboard"), admin_path %></li>
        <% end %>
        <li><%= link_to t(".my_orders"), "#" %></li>
        <li><%= link_to t(".logout"), logout_path, method: :delete %></li>
      <% else %>
        <li>
          <%= link_to(signup_path) do %>
            <span class="glyphicon glyphicon-user"></span> <%=t(".signup")%>
          <% end %>
        </li>
        <li>
          <%= link_to(login_path) do %>
            <span class="glyphicon glyphicon-log-in"></span> <%=t(".login")%>
          <% end %>
        </li>
      <% end %>
    </ul>
    <ul class="languages">
      <%= link_to t(".language_en"), locale: :en %>
      <%= link_to t(".language_vi"), locale: :vi %>
    </ul>
  </nav>
</header>
<nav class="menubar navbar navbar-fixed-top navbar-inverse">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><%= link_to t(".hot_trend"), "#" %></li>
      <li><%= link_to t(".new_products"), "#" %></li>
      <li><%= link_to t(".sale_off"), "#" %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <%= t ".categories" %> <span class="caret"></span></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-content">
            <div class="row">
              <% @list_categories.each do |category| %>
                <% if category.parent_id.nil? %>
                  <div class="col col-xs-6 col-md-3">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <span><%= link_to category.name, "#" %></span>
                      </li>
                      <% sub_categories(category.id).each do |sub_cat| %>
                        <li class="nav-item">
                          <%= link_to sub_cat.name, "#", class: "nav-link" %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                  <!-- /.col  -->
                <% end %>
              <% end %>
            </div>
          </div>
          <!--  /.container  -->
        </div>
      </li>
    </ul>
    <%= form_tag(search_path, method: :get, class: "navbar-form navbar-right") do %>
      <div class="form-group">
        <%= text_field_tag :keyword, "", class: "form-control", placeholder: "Search" %>
        <%= submit_tag "Search", id: "submitsearch", tabindex: "-1" %>
      </div>
    <% end %>
  </div>
  <!-- /.navbar-collapse -->
</nav>
